<ion-view view-title="Delivery App">
	
	
	<!-- 
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon button-large button-main-toggle"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	-->
	
	<ion-nav-title>
		<img src="img/logo.png" />
	</ion-nav-title>
	
	<ion-content>

		<div class="row">
			<div class="col">
				<h3>Order Complete</h3>
				<p>
					Your order will be delivered to you shortly once verified. Thank You!
				</p>
			</div>
		</div>
	
	</ion-content>
</ion-view>
