<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="siteMenuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
	<!--
	-->
    <ion-header-bar class="bar-stable">
		<h1 class="title">hi, {{o_customer.s_fullName || 'Guest'}}</h1>
    </ion-header-bar>
    <ion-content>
		<ion-list>
			<ion-item menu-close href="#/app/top">
				Top Page
			</ion-item>
			<!-- 
			<ion-item menu-close href="#/app/login" ng-if="o_customer.b_login == false" >
				Login
			</ion-item>
			-->
			<ion-item menu-close href="#/app/slide-menu" ng-if="a_restaurant_menu_ids.length > 0">
				Menu
			</ion-item>
			<ion-item menu-close href="#/app/cart">
				Cart Items: <span ng-bind="i_totalOrderQty || '0'"></span>
			</ion-item>
		</ion-list>
		
		
		<div class="row" ng-if="o_customer.b_login == false">
			<div class="col">
				<button class="button button-block button-positive" ng-click="login()">Login</button>
			</div>
		</div>
		<div class="row" ng-if="o_customer.b_login == true">
			<div class="col">
				<button class="button button-block button-dark" ng-click="logout()">Logout</button>
			</div>
		</div>
	  
    </ion-content>
	
  </ion-side-menu>
</ion-side-menus>