<ion-view view-title="Delivery App">
	
	<!-- 
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon button-large button-main-toggle"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	-->
	
	<ion-nav-title>
		<img src="img/logo.png" />
	</ion-nav-title>

	<ion-content> <!-- ng-controller="slidemenu" -->
    
				
				
		<ion-slides options="options" slider="data.slider" ng-if="a_restaurant_menu_ids.length > 0">
			<ion-slide-page ng-repeat="o_restaurant_menu in o_restaurant_menus" repeat-done="repeatDone()">
				<div class="menu-card">
					
					<div class="menu-card-image">
						<img ng-src="{{o_restaurant_menu.s_image}}" />
					</div>
					
					<div class="row">
						<div class="col">
							<p><strong>Name:</strong> {{o_restaurant_menu.s_name}}</p>
							<p><strong>Description:</strong> <span ng-bind-html="o_restaurant_menu.s_description"></span></p>
							<p><strong>Price:</strong> {{o_restaurant_menu.d_price | currency : o_site_config.s_currency : 2 }}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-25 align-center">
							<button class="button button-assertive" ng-click="deductQtyMenuOrder({{o_restaurant_menu.i_id}})"> <i class="icon ion-minus"></i> </button>
						</div>
						<div class="col align-center">
							<strong>Current QTY:</strong> <span ng-bind="o_cart[o_restaurant_menu.i_id].i_qty || '0'"></span>
						</div>
						<div class="col-25 align-center">
							<button class="button button-assertive" ng-click="addQtyMenuOrder({{o_restaurant_menu.i_id}})"> <i class="icon ion-plus"></i> </button>
						</div>
					</div>
					
				</div>
			</ion-slide-page>
		</ion-slides>
		
			<div class="row slide-menu-control">
				<div class="col" ng-if="i_totalOrderQty > 0">
					<a href="#/app/cart" class="button button-block button-balanced" >Order Summary</a>
				</div>
				<div class="col" ng-if="i_totalOrderQty <= 0">
					<button class="button button-block button-balanced" disabled="disabled" >Cart Empty</button>
				</div>
			</div>		
					
	
	</ion-content>
</ion-view>
