<ion-view view-title="Delivery App" > <!-- view-title="Delivery App - {{o_site_config.s_restaurantName}}" -->
 
	<!-- 
	<ion-nav-bar class="bar-balanced">
		<ion-nav-back-button>
			<button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
		</ion-nav-back-button>
	</ion-nav-bar>
	
	http://ionicframework.com/docs/api/directive/ionNavBackButton/
	http://ionicframework.com/docs/api/directive/menuToggle/
	
	<ion-nav-bar class="bar-assertive">
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
  
	<ion-nav-title>
		<img ng-src="img/logo.png" />
	</ion-nav-title>
	-->

	
	<!-- 
	<ion-nav-bar>
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon button-large button-main-toggle"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	-->
	
	<ion-nav-title>
		<img src="img/logo.png" />
	</ion-nav-title>
	
	
	<ion-content>
		<div class="row">
			<div class="col">
				<h3>Son-Gohan Donburi - Japanese Rice Toppings</h3>
				<p>
					We Accept Order / Deliver +639176215550
				</p>
				<img src="img/img-01.jpg" />
				<p>
					Curabitur sit amet lorem dignissim, efficitur nibh vitae, varius metus. Morbi convallis, lorem dapibus sodales luctus, odio odio fringilla ligula, vel fringilla justo lectus non massa.
				</p>
				<p>
					Ut gravida maximus magna et maximus. Morbi sit amet congue felis. 
				</p>
				<!-- 
				<button class="button button-block button-calm" ng-click="login()">Facebook</button>
				-->
			</div>
		</div>
	</ion-content>
</ion-view>
