/*
*/
.row .col > img {
	width: 100%;
}




/*
*/
.bar.bar-header {
	height: 60px;
	/*
	text-align: center;
	*/
}
.has-header {
	top: 60px;
}

.bar.bar-header .header-item {
	/*
	left: auto;
	right: auto;
	margin: 0 auto;
	*/
}

.bar.bar-header .title-center {
	/*
	left: auto !important;
	right: auto !important;
	margin: 0 auto !important;
	*/
}

/*
.button.back-button buttons  button-clear header-item
*/
.bar.bar-header .button.button-icon{
	width: 50px;
}

.bar.bar-header .button.back-button {
	padding-right: 20px;
}

/*
.button.button-icon.button-main-toggle {
	width: 50px;
}

*/

.nav-bar-title > img {
	vertical-align: middle;
}

ion-slides {
	height: 485px;
}
.menu-card {
	/*
	background: #fec;
	text-align: center;
	*/
}

.menu-card .menu-card-image {
	/*
	text-align: center;
	max-height: 300px;
	overflow: auto;
	*/
}
.menu-card .menu-card-image img {
	width:100%;
	height:300px;
	/*
	*/
}
.menu-card .row {
	/*
	text-align: left;
	*/
}
.swiper-container {
	/*
	height: 200px;
	*/
	padding-bottom: 30px;
}
.swiper-container .swiper-wrapper {
	/*
	height: 200px;
	*/
}
.swiper-container-horizontal > .swiper-pagination {}





.order-list {
	margin-bottom: 30px;
}
.order-list .order-list-item {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.list {}
.list .item-stacked-label {
	padding-right: 16px;
}
.list .item-stacked-label .input-label {
	font-weight: bold;
}
.list .item-stacked-label .input-label .item-stacked-label-reqstar {
	color: red;
}
.list .item-stacked-label input, 
.list .item-stacked-label textarea {
	padding: 0px 8px;
	background: #faffbd;
	border: 1px solid #cccccc;
}
.list .item-stacked-label textarea {
	height: 100px;
}
.list .item-stacked-label input[disabled="disabled"] {
	background: #f0f0f0;
	border: 1px solid #f7f7f7;
}
.list .item-stacked-label input[disabled="disabled"].error {
	color: red;
}

.frm-order input[type=text].ng-invalid.ng-touched, 
.frm-order input[type=email].ng-invalid.ng-touched,
.frm-order textarea.ng-invalid.ng-touched {
    background-color: #ffcccc;
	border: 1px solid red;
}




/*
	helpers
*/
.align-center {
	text-align: center;
}